html
  font-size 10px

body
  font 1rem Arial
  color #333
  .devices
    display flex
    justify-content space-around
    flex-direction row
    align-items stretch
    .device
      width 50%
      border 1px solid #333
      padding 0.1rem
      text-align center
      .graph
        border 1px solid #333

